*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.imgs{
    background-size: cover !important;
}

.bgImage{
    width: 100%;
    height: 200px;
    background-image:url(../images/egyption.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}
.bgImage2{
    background-image: url(../images/sinai-backg.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.back-overley{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 0%,.5) !important;
}

.mm::after{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    top: 0px;
    left: 0px;
    background-color: black !important;
    opacity: 0;
}
.mm:hover::after{
    width: 100%;
    height: 100%;
    opacity: .5;
    transition: 3s;
}
.mm::before{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    bottom: 0px;
    right: 0px;
    background-color: black !important;
    opacity: 0;
}
.mm:hover::before{
    width: 100%;
    height: 100%;
    opacity: .2;
    transition: 2s;
}
.aa:hover{
    transition-duration: 4s;
    color: white;
}

.bg{
    background-image: url(../images/category-banner1.jpg) ;
    height: 300px;
    width: 12rem!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border: 1px solid gray;
    font-size: 5px;
}
.bg:hover{
transform: scale(0.9,0.9);
    transition: 1s;
}
@media(min-width: 1200px){
    .bg{
        width: 280px !important;
        height: 350px !important;
    }

}
.bg-overlay{
    background-color: hsl(0, 0%, 0%, .5);
    width: 100%;
    height: 100%;
    color: white;
    font-size: 3px;

}
.row > *{
padding: 0% !important;

}
.bor{
    margin-top: 60%;
    margin-left: 10%;
    width: 60px;
    height: 90px;
    border: 1px solid gray;
    border-radius: 50%;
    background-image: url(../images/category-banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.NewsContent{
    /* width: 80%; */
    /* height: 350px !important; */
    /* border: 1px solid black; */
}
.idk{
    border: 2px solid;
    height: 0px;
    width: 25% !important;
    transition: 1s;
}
 .NewsContent:hover .idk{
    width: 35% !important;
}
@media(max-width: 600px){
    .idk{
        width: 35% !important;

    }
    .NewsContent:hover .idk{
        width: 45% !important;
    }

    .pic2, .pic3, .pic4{
        height: 100% !important;
    }


    .pic1{
        overflow-y:scroll !important ;
        height: 40% !important;
        }
        .NewsContent{
            /* height: 35rem !important; */
        }
        .btn{
            margin-top: 5px !important;
            width: 100px;

 }
 .a1{
    border-bottom: 1px solid white !important;
 }
 .a122{
    border-top: none !important;
 }
 .a22{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
 }

 .hid{
    display: none ;
 }
 .hid2{
    display: block !important;
 }

}

@media(max-width: 990px){
    .NewsContent{
        height: 35rem !important;
    }
    .btnn{
margin-top: 2px;
}
.a1{
    border-top: none !important;
 }
 .a122{
    border-top:1px solid white;
 }
 .smm{
    width: 210px !important;
 }
}

.cont{
    width: 50% !important;
}
.pic2{
background-image: url(../images/sinaimm.jfif);
clip-path: polygon(19% 0, 100% 0, 100% 100%, 34% 100%) !important;
border: 1px solid rgb(197, 197, 197);
border-radius: 2px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.cont3{
    width: 70% !important;

}
.pic3{
    background-image: url(../images/sinaimm.jfif);
    clip-path: polygon(0 0, 85% 0, 73% 100%, 0% 100%) !important;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    width: 30% !important;
}
.cont4{
    width: 50% !important;
}
.pic4{
background-image: url(../images/sinaimm.jfif);
clip-path: polygon(19% 0, 100% 0, 100% 100%, 1% 100%) !important;
border: 1px solid rgb(197, 197, 197);
border-radius: 2px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.modal-backdrop {
  --bs-backdrop-zindex: 0 !important;
}
.twitter, .wts, .in, .insta{
     width: 90px !important; 
     height: 100% !important; 
    transition: 1s;
}
i:hover{
transform: scale(1.1);
}
.footerContent{
width: 100% !important;
height: 100% !important;
    grid-column-gap: 10px !important;
    grid-row-gap: 10px !important;
  
}
.a1{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 350px !important;

}
.a22{
    width: 350px !important;
}

.aa1{
    width: 100% !important;

    border-top: 1px solid white;

    border-bottom: 1px solid white;
}
.imgN{
    background-image: url(../images/sea.jpg);
    width: 100% !important;
    height: 200px !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px;
}
